body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cmt-img {
    margin-top: 30px;
    width: 100%;
    /* margin-left: 10%; */
}

img {
    margin: 0;
}

.cmt-section {
    border: 1px solid #ABABAB;
    /* margin-left: 10%; */
    margin-top: 30px;
    width: 100%;
}

.smaller {
    margin: 60px 20px 20px 20px;
}

button {
    width: 40%;
    margin-top: 10px;
}

.btn-primary.custom-btn {
    background-color: #9364A8;
    border: 0;
    padding: 16px 40px 16px 40px;
}

h3 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}

.heart-icon {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 50%;
}

.upper-div {
    margin: 20px;
}

span {
    margin-top: 10px;
    margin-left: 30px;
    color: pink;
}

.top-layer {
    filter: blur(8px);
    text-align: center;
}

.likes-number {
    font-size: 10rem;
    color: #000;
}

.edit-elem {

    position: sticky;
    /* right: 40%; */
    /* right: 25%; */
    margin-top: 5px;
    right: 0;

}



.edit-hide {
    display: none;
}

.delete-hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .edit-elem {
        margin-left: 60px;
    }
  }