* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/Landing-page-cover.png');
    font-family: 'Roboto', 'sans-serif';
    color: #fff;
    background-size: cover;
}

img {
    max-width:100%;
    height:auto;
    background-repeat: no-repeat;
}

h3 {
    color: #fff;
}

h1 {
    font-weight: 700;
    color: #fff;
    font-size: 100px;
}

.content {
    margin: 10%;
    width: 70%;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    margin-top: 30px;
}

.btn-primary.custom-btn {
    background-color: #9364A8;
    border: 0;
    padding: 16px 40px 16px 40px;
}

.camagru {
    color: #fff;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #9364A8;
    color: #fff;
    position: fixed;
    bottom: 0;
    margin-top: 100px;
  }