* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/photoshoot.jpg');
    background-size: cover;
    font-family: 'Roboto', 'sans-serif';
    color: #fff;
}

.camagru {
    font-size: 1.5 !important;
    color: #fff !important;
    font-weight: 500;
    margin-left: 20px;
}

.navbar-nav a {
    color: #fff !important;
    font-weight: 300;
    margin: 10px;
}

.foot {
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Jacques Francois', serif;
}

h3 {
    font-family: 'Jacques Francois', serif;
    color: #fff;
}

h1 {
    font-weight: 700;
    color: #fff;
    font-size: 100px;
}

.content {
    margin: 100px;
}

a {
    text-decoration: none;
}

p {
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    margin-top: 30px;
}

.start {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

img {
    margin-bottom: 15px;
    margin-left: 5px;
}

.text {
    margin-top: 20px;
}