* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.container {
    border: 1px solid #ABABAB;
    width: 100%;
    height: 70rem;
    border-radius: 5px;
    margin-top: 10%;
}

.container h1 {
    text-align: left;
    font-size: 35px;
    color: #000;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 20px;
}

.right h3, .left h3 {
    text-align: left;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
}


.second-container {
    width: 100%;
    height: 80%;
    margin-top: 3%;
}

.left {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    margin-left: 2%;
}

.right {

    border: 1px solid #9364A8;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    margin-left: 3.7%;
    margin-top: 60px;
}

.btn-primary.custom-btn.btn-lg {
    margin-top: 20px;
    margin-left: 20px;
    padding: 16px 40px 16px 40px;
    width: 60%;
}

.btn-primary.custom-btn {

    background-color: #9364A8;
    border: 0;
    width: 60%;
}

.user-info {
    display: none;
}

.user-info .inputs {
    margin-top: 20px;
}

.fullname, .fullname .last{
    margin-left: 20px;
}

.credentials {
    width: 74%;
    margin-left: 20px;
}


.profile-picture {
    display: none;
}

.picture-upload {

    width : 80%;
    margin-left: 20px;
    margin-top: 20px;

}

.pdp { 
    margin-left: 0;
    width: 200px;
    height: 200px;
}

.notifications {
    display: none;
}

.check {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
}

.check button {
    width: 100%;
}

span {
    color: #9364A8;
}

.display { 
    display: unset;
}

.none-display {
    display: none;
}

#error-message {
    color: #ff0000;
}

#success-message {
    color: #00ff00;
}


@media screen and (max-width: 768px) {

    /* body {
        background-color: #9364A8 !important;
    } */

    .second-container {
        flex-direction: column !important;
    }

    .btn-primary.custom-btn.btn-lg {
        margin-top: 20px;
        margin-left: 20px;
        padding: 8px 20px 8px 20px;
        width: 80%;
    }

    .right {
        margin-left: 7%;
    }

    .container {
        border: none;
        margin-top: 20%;
    }

}
